<header class="header">
    <nav class="navbar">
         <div class="navbar-content"> <!-- flex -->
          <div class="navbar-brand"> <!-- stretches to fill navbar.content-->
            <a href="{{site.url}}" title="TB-apidocs" class="site-logo"></a> <!-- no text decoration -->
            <span class="nav-brand__name-area">
              <strong class="nav-brand__name-area__title">APIdoc</strong> <!-- opacity -->
            </span>
          {{> top-versions}} <!-- page versions -->
          <button class="navbar-burger" data-target="topbar-nav">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div> <!-- End of navbar-brand -->
        <div id="topbar-nav" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="">APIs</a>
                  <div class="navbar-dropdown">
                    <!-- variable site.url below is the one inside the antora-playbook.yml (sometimes named site.yml used to build the site)-->
                    <a class="navbar-item" href="{{site.url}}/openweather-api/v2.0/">OpenWeather API</a>
                    <a class="navbar-item" href="{{site.url}}/petstore-api/v2.0/">PetStore API</a>
                  </div>
            </div> <!-- End of first dropdown category -->
            <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="">Tutorials</a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item" href="{{site.url}}/#/">Link A</a>
                      <a class="navbar-item" href="{{site.url}}/#/"><strong>Link B strong</strong></a>
                      <a class="navbar-item" href="{{site.url}}/#/">Link C</a>
                      <a class="navbar-item" href="{{site.url}}/#/">Link D</a>
                      <hr class="navbar-divider">
                      <a class="navbar-item" href=""><strong>Lisk Network Explorer</strong></a>
                      <a class="navbar-item" target="_blank" href="">Link 1 external<i class="icofont-external-link"></i></a>
                      <a class="navbar-item" target="_blank" href="">Link 2 external<i class="icofont-external-link"></i></a>
                      <a class="navbar-item" target="_blank" href="">Link 3 external<i class="icofont-external-link"></i></a>
                    </div>
                  </div> <!-- End of second dropdown category-->
              </div>
              <!-- INSERT ALGOLIA SEARCH HERE -->
              <div class="navbar-item navbar-right">
                <a href="https://github.com/TonyBgithub/tb-antoradocs" title="TB GitHub" target="_blank" class="footer__icon icon-github-2x"></a>
          <span class="control"> <!-- ???? -->
            <a class="button is-primary" target="_blank" title="TB Dev Forum" href="">Get help</a>
          </span>
              </div> <!-- navbar right -->
          </div><!-- topbar-nav navbar-menu -->
    </nav>
</header>
